:root {
	--color-bar: #eaeaea;
	--color-notification-bar: #8edafc;
	--color-sent: #d5f9ba;
	--color-received: #ffffff;
	--color-write-bar: #f3eeea;
	--color-icon: #b1b1b1;
	--color-icon-2: #96a8b8;
    --color-active-chat: #e9ebeb;
}

.debug{
    border: 2px solid red;
}

/* General */

body{
    background-color: white;
}

#app{
    background: linear-gradient(180deg, #009688 20%, #D8D8D5 20%);
    padding: 30px 0;
    height: 100vh;
}

.db-container{
    width: 80%;
    height: 100%;
    background-color: white;
}

img{
    width: 50px;
}

/* i{
    margin: 0 10px;
} */

.contact-bar{
    background-color: var(--color-bar);
    height: 70px;
}

.contact-bar i{
    color: var(--color-icon);
    margin: 0 0.4rem;
}

/* LEFT side */
.left{
    width: 30%;
}

/* Notification bar */
#notification-bar{
    background-color: var(--color-notification-bar);
    height: 50px;
}

#notification-bar div div{
    font-size: 12px;
    margin-bottom: -10px;
}

#notification-bar div a{
    font-size: 10px;
    color: gray;
    margin-top: -10px;
}

#notification-bar span{
    background-color: white;
    padding: 5px;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
}

#notification-bar span i{
    color: var(--color-notification-bar);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Search bar */
#searchbar{
    background-color: var(--color-bar);
    height: 30px;
}

#searchbar form{
    font-size: 10px;
    width: 95%;
}

#searchbar input{
    width: 100%;
    padding-left: 20px;
}

/* Open Chats */
#open-chats{
    overflow-y: scroll;
    height: calc(100% - 150px);
    background-color: #F1F1F1;
}

.active-chat{
    background-color: var(--color-active-chat);
}

#open-chats div div{
    width: 70%;
}

.chat-name{
    font-size: 14px;
}

.msg-info{
    font-size: 10px;
    color: rgb(185, 185, 185);
}

/* RIGHT side */

.right{
    width: 70%;
}

#chat{
    overflow-y: scroll;
    height: calc(100% - 130px);
    padding: 20px;
    background-image: url(../img/mine.jpg);
}

.last-viewed{
    color: var(--color-icon-2);
    font-size: 12px;
}

/* Sender bar */
#sender-bar{
    background-color: #F1F1F1;
    height: 60px;
}

#sender-bar span{
   width: 10%;
   color: var(--color-icon-2);
}

#sender-bar input{
    width: 80%;
    padding: 0.7rem 0.4rem;
    font-size: 10px;
}
